.container{
  display: flex;
  width: 900px;
  height: 820px;
}
.size{
  
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  background-color: #3d9970;
}