body{
    width: 100vw;
    height: 100vh;
    background-image: url("./media/tech-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bars{
    margin-top: 100px;
    left: 25%;
    top: 20%;
}